# Check TCdata360 Data Sources (if updated)

In [244]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import datetime
import re
import io

%matplotlib inline

In [245]:
date_today = datetime.date.today().isoformat()

In [3]:
tc_datasets = 'http://tcdata360-backend.worldbank.org/api/v1/datasets'
df_tc_datasets = pd.read_json(requests.get(tc_datasets).text)

In [246]:
df_answer_key = pd.read_csv('2017-07-28-Check-TC-Data-Update-Answer-Key.csv', encoding='latin-1')

In [247]:
df_answer_key.head()

,slug,title,source_name,source_link,legal_text,legal_link,id,Dataset / sub-dataset,Site,Data Coverage,Start Year,Latest Year
0,itip_goods,I-TIP Goods,WTO I-TIP Goods,https://i-tip.wto.org/goods,World Trade Organization,https://www.wto.org/english/info_e/cont_e.htm#...,44,WTO Integrated Trade Intelligence Portal (I-TI...,tc,2005-2016,2005,2016
1,itip_goods,I-TIP Goods,WTO I-TIP Goods,https://i-tip.wto.org/goods,World Trade Organization,https://www.wto.org/english/info_e/cont_e.htm#...,44,WTO Integrated Trade Intelligence Portal (I-TIP),tc,2005-2016,2005,2016
2,escap,ESCAP,ESCAP,http://data.worldbank.org/data-catalog/trade-c...,World Bank Group,http://www.worldbank.org/terms-datasets,45,ESCAP Trade Costs Database,tc,1995 - 2015,1995,2015
3,innovation_indicators,OECD Innovation Indicators,OECD,http://www.oecd.org/innovation/inno/inno-stats...,Organization for Economic Co-operation and Dev...,http://www.oecd.org/termsandconditions/,46,OECD Innovation Indicators,tc,"2013, 2015",2013,2015
4,investing_across_borders,Investing Across Borders,WBG - Investing Across Borders,http://iab.worldbank.org,World Bank Group,http://www.worldbank.org/terms-datasets,47,Investing Across Borders,tc,"2010, 2012",2010,2012

In [277]:
df_answer_key.columns

Index(['slug', 'title', 'source_name', 'source_link', 'legal_text',
       'legal_link', 'id', 'Dataset / sub-dataset', 'Site', 'Data Coverage',
       'Start Year', 'Latest Year'],
      dtype='object')

Loop through all dataset IDs and generate key statistics per dataset:
- number of unique countries
- number of unique indicators
- current start year, excluding 100% NULL columns
- end start year, excluding 100% NULL columns
- whole timeframe (as a list), excluding 100% NULL columns

## Scratch

In [94]:
data_columns = ['title', 'id', 'number_of_unique_countries', 'number_of_unique_indicators', 'number_of_unique_subindicators',
               'start_year', 'end_year', 'timeframe']

In [95]:
tc_data_check = pd.DataFrame()

In [57]:
# for row in df_tc_datasets.index:
#     id_dataset = df_tc_datasets['id'].ix[row]
#     title_dataset = df_tc_datasets['title'].ix[row]

In [31]:
import random
id_dataset = random.choice(list(df_tc_datasets['id']))
dat_url = "http://tcdata360-backend.worldbank.org/api/v1/datasets/" + str(id_dataset) + "/dump.csv"
dat = requests.get(dat_url)
df_dat = pd.read_csv(io.StringIO(dat.text))

Drop all completely NULL columns and rows

In [42]:
df_dat.dropna(axis=1, how='all', inplace=True)
df_dat.dropna(axis=0, how='all', inplace=True)

Generate features

In [99]:
num_of_countries = len(df_dat['Country ISO3'].value_counts().index)
num_of_indicators = len(df_dat['Indicator'].value_counts().index)
num_of_subindicators = df_dat[['Indicator', 'Subindicator Type']].drop_duplicates().shape[0]

In [100]:
list_timeframe = [col for col in df_dat.columns if col not in ['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type']]
list_timeframe = sorted(list_timeframe)

In [101]:
start_year = list_timeframe[0]
end_year = list_timeframe[-1]

Compile all data

In [103]:
dataset_list = [title_dataset, id_dataset, num_of_countries, num_of_indicators, num_of_subindicators, start_year, end_year, list_timeframe]

In [104]:
df_temp = pd.DataFrame(dataset_list).T

In [105]:
tc_data_check = tc_data_check.append(pd.DataFrame(dataset_list).T)

In [106]:
tc_data_check.columns = data_columns

In [108]:
tc_data_check.reset_index(drop=True, inplace=True)

## Compiling into loop

In [129]:
data_columns = ['title', 'id', 'number_of_unique_countries', 'number_of_unique_indicators', 'number_of_unique_subindicators',
               'start_year', 'end_year', 'timeframe']
tc_data_check = pd.DataFrame()

success_counter = 0
error_counter = 0
error_list = []
total_count = len(df_tc_datasets.index)

for row in df_tc_datasets.index:
    id_dataset = df_tc_datasets['id'].ix[row]
    title_dataset = df_tc_datasets['title'].ix[row]
    
    dat_url = "http://tcdata360-backend.worldbank.org/api/v1/datasets/" + str(id_dataset) + "/dump.csv"
    dat = requests.get(dat_url)
    df_dat = pd.read_csv(io.StringIO(dat.text))
    
    print(df_dat.columns) #for debugging
    
    #drop all completele NULL columns and rows
    df_dat.dropna(axis=1, how='all', inplace=True)
    df_dat.dropna(axis=0, how='all', inplace=True)
    
    try:
        # Generate features for checking
        num_of_countries = len(df_dat['Country ISO3'].value_counts().index)
        num_of_indicators = len(df_dat['Indicator'].value_counts().index)
        num_of_subindicators = df_dat[['Indicator', 'Subindicator Type']].drop_duplicates().shape[0]

        nondate_cols = ['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type', 'Partner', 'MRV', 'Product']
        list_timeframe = [col for col in df_dat.columns if col not in nondate_cols]
        list_timeframe = sorted(list_timeframe)
        start_year = list_timeframe[0]
        end_year = list_timeframe[-1]

        # compile all data
        dataset_list = [title_dataset, id_dataset, num_of_countries, num_of_indicators, num_of_subindicators, start_year, end_year, list_timeframe]
        print(dataset_list) #for debugging

        df_temp = pd.DataFrame(dataset_list).T
        tc_data_check = tc_data_check.append(pd.DataFrame(dataset_list).T)
        
    except:
        error_counter += 1
        error_list.append([title_dataset, id_dataset])
        continue
        
    success_counter += 1
    
    print("Done checking %d out of %d datasets." % (success_counter + error_counter, total_count))
    
# Clean up final dataframe
tc_data_check.columns = data_columns
tc_data_check.reset_index(drop=True, inplace=True)

print("Done with all %d datasets with %d successes and %d failures." % (total_count, success_counter, error_counter))
print("Failed datasets include %s" % str(error_list))

Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'],
      dtype='object')
['PEFA', 590, 71, 111, 111, '2005', '2015', ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
Done checking 1 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')
['Enterprise Surveys', 49, 147, 121, 121, '2002', '2016', ['2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 2 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2007', '2010', '2012', '2014', '2016'],
      dtype='object')
['Logistics Performance Index', 50, 167, 7, 20, '2007', '2016', ['2007', '2010', '2012', '2014', '2016']]
Done checking 3 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1996', '1998', '2000', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')
['Worldwide Governance Indicators', 51, 205, 6, 30, '1996', '2015', ['1996', '1998', '2000', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
Done checking 4 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2007-2008', '2008-2009', '2009-2010', '2010-2011', '2011-2012',
       '2012-2013', '2013-2014', '2014-2015', '2015-2016', '2016-2017'],
      dtype='object')
['World Economic Forum Global Competitiveness Index', 53, 151, 120, 240, '2007-2008', '2016-2017', ['2007-2008', '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015', '2015-2016', '2016-2017']]
Done checking 5 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2010'],
      dtype='object')
['Public Investment Management', 147, 68, 17, 17, '2010', '2010', ['2010']]
Done checking 6 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2009'],
      dtype='object')
['Human Resource Management', 483, 7, 109, 109, '2009', '2009', ['2009']]
Done checking 7 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2016'],
      dtype='object')
['UNCTAD Cyberlaw Tracker', 512, 190, 4, 4, '2016', '2016', ['2016']]
Done checking 8 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008'],
      dtype='object')
['Pay and Employment', 479, 200, 13, 13, '1990', '2008', ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008']]
Done checking 9 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')
['I-TIP Goods', 44, 141, 15, 30, '1990', '2016', ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 10 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2010', '2012', '2014', '2016'],
      dtype='object')
['Women, Business and the Law', 48, 171, 142, 142, '2010', '2016', ['2010', '2012', '2014', '2016']]
Done checking 11 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1919', '1919-01', '1919Q1', '1919-02', '1919Q2', '1919-03',
       ...
       '2015-12', '2016-01', '2016Q1', '2016-02', '2016Q2', '2016-03',
       '2016-04', '2016-05', '2016-06', '2016-07'],
      dtype='object', length=1662)

Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Partner', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014'],
      dtype='object')
['ESCAP', 45, 192, 3, 3, '1995', '2014', ['1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']]
Done checking 13 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type', 'MRV',
       '2011', '2014'],
      dtype='object')
['WB: Financial Inclusion Index (Findex)', 66, 155, 6, 6, '2011', '2014', ['2011', '2014']]
Done checking 14 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')
['WEF GCI Most Problematic Factors', 71, 144, 15, 15, '2008', '2016', ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 15 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2012'],
      dtype='object')
['Investing Across Borders', 47, 87, 23, 23, '2012', '2012', ['2012']]
Done checking 16 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016'],
      dtype='object')
['Doing Business', 52, 189, 65, 76, '2003', '2016', ['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 17 out of 76 datasets.

C:\Users\mrpso\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Product', 'Partner', '1948', '1949', '1950', '1950-1960',
       ...
       '2014', '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015', '2015Q1',
       '2015Q2', '2015Q3', '2015Q4'],
      dtype='object', length=156)
['United Nations Conference on Trade and Development Statistics', 76, 207, 165, 323, '1948', '2015Q4', ['1948', '1949', '1950', '1950-1960', '1950-1970', '1950-1980', '1950-1990', '1950-2000', '1950-2010', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1960-1970', '1960-1980', '1960-1990', '1960-2000', '1960-2010', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1970-1980', '1970-1990', '1970-2000', '1970-2005', '1970-2010', '1971', '1972', '1973', '1974', '1975', '1975-2005', '1976', '1977', '1978', '1979', '1980', '1980-1985', '1980-1990', '1980-2000', '1980-2010', '1981', '1982', '1983', '1984', '1985', '1985-1990', '1985-2005', '1986', '1987', '1988', '1989', '1990', '1990-1995', '1990-2000', '1990-2010', '1991', '1992', '1993', '1994', '1995', '1995-2000', '1995-2005', '1996', '1997', '1998', '1999', '2000', '2000-2005', '2000-2007', '2000-2008', '2000-2010', '2001', '2002', '2003', '2003-2011', '2003-2012', '2004', '2005', '2005-2010', '2005Q1', '2005Q2', '2005Q3', '2005Q4', '2006', '2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007', '2007Q1', '2007Q2', '2007Q3', '2007Q4', '2008', '2008-2011', '2008-2012', '2008Q1', '2008Q2', '2008Q3', '2008Q4', '2009', '2009Q1', '2009Q2', '2009Q3', '2009Q4', '2010', '2010-2014', '2010Q1', '2010Q2', '2010Q3', '2010Q4', '2011', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014', '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015', '2015Q1', '2015Q2', '2015Q3', '2015Q4']]
Done checking 18 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016'],
      dtype='object')
['Global Entrepreneurship Monitor National Expert Survey', 58, 106, 12, 12, '2007', '2016', ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 19 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
      dtype='object')
['Competitive Industrial Performance Index', 77, 142, 20, 20, '1990', '2014', ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']]
Done checking 20 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2015', '2017'],
      dtype='object')
['Travel & Tourism Competitiveness Index', 78, 145, 19, 38, '2015', '2017', ['2015', '2017']]
Done checking 21 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Product', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013'],
      dtype='object')
['Temporary Trade Barriers Database', 64, 32, 10, 20, '1990', '2013', ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']]
Done checking 22 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2004', '2006', '2007', '2008', '2009', '2010', '2011'],
      dtype='object')
['Global Integrity Index', 428, 94, 1358, 1358, '2004', '2011', ['2004', '2006', '2007', '2008', '2009', '2010', '2011']]
Done checking 23 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016'],
      dtype='object')
['Doing Business', 435, 179, 108, 108, '2004', '2016', ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 24 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2015'],
      dtype='object')
['Networked Readiness index', 511, 138, 2, 2, '2015', '2015', ['2015']]
Done checking 25 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')
['Ibrahim Index of African Governance', 589, 53, 12, 12, '2000', '2015', ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
Done checking 26 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2016'],
      dtype='object')
['I-TIP Services', 57, 159, 168, 168, '2016', '2016', ['2016']]
Done checking 27 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2016'],
      dtype='object')
['Citizen Engagement in Rulemaking', 63, 184, 7, 7, '2016', '2016', ['2016']]
Done checking 28 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1998', '2003', '2008', '2013'],
      dtype='object')
['OECD Product Market Regulation Database', 68, 47, 29, 29, '1998', '2013', ['1998', '2003', '2008', '2013']]
Done checking 29 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2012', '2015'],
      dtype='object')
['Quality of Govt', 88, 128, 114, 114, '2012', '2015', ['2012', '2015']]
Done checking 30 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007Q1', '2007Q2', '2007Q3',
       '2007Q4', '2008Q1', '2008Q2', '2008Q3', '2008Q4', '2009Q1', '2009Q2',
       '2009Q3', '2009Q4', '2010Q1', '2010Q2', '2010Q3', '2010Q4', '2011Q1',
       '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4',
       '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3'],
      dtype='object')
['Measuring Export Competitiveness', 73, 201, 5, 15, '2006Q1', '2014Q3', ['2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007Q1', '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3', '2008Q4', '2009Q1', '2009Q2', '2009Q3', '2009Q4', '2010Q1', '2010Q2', '2010Q3', '2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3']]
Done checking 31 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2014'],
      dtype='object')
['Environmental Performance Index', 80, 128, 4, 4, '2014', '2014', ['2014']]
Done checking 32 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2016'],
      dtype='object')
['Inter-Parliamentary Union', 495, 185, 74, 74, '2016', '2016', ['2016']]
Done checking 33 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2008'],
      dtype='object')
['Public Accountability Mechanisms Income and Disclosure', 145, 85, 199, 199, '2008', '2008', ['2008']]
Done checking 34 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2010'],
      dtype='object')
['Public Accountability Mechanisms Freedom of Information', 146, 86, 38, 38, '2010', '2010', ['2010']]
Done checking 35 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2016'],
      dtype='object')
['Global Indicators of Regulatory Governance', 429, 183, 88, 88, '2016', '2016', ['2016']]
Done checking 36 out of 76 datasets.

Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014'],
      dtype='object')
['Fiscal Rules Dataset', 98, 88, 60, 60, '1987', '2014', ['1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']]
Done checking 37 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')
['Country Policy and Institutional Assessments', 102, 85, 16, 16, '2005', '2016', ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 38 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2006', '2008', '2010', '2012', '2014', '2016'],
      dtype='object')
['Bertelsmann Transformation Index', 505, 128, 52, 52, '2006', '2016', ['2006', '2008', '2010', '2012', '2014', '2016']]
Done checking 39 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2013-14', '2014', '2015'],
      dtype='object')
['UPU', 510, 198, 4, 4, '2005', '2015', ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2013-14', '2014', '2015']]
Done checking 40 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Product', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'],
      dtype='object')
['World Integrated Trade Solution', 55, 188, 15, 15, '1988', '2015', ['1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
Done checking 41 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3',
       '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2',
       '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1'],
      dtype='object')
['Timely Indicators of Entrepreneurship', 60, 21, 3, 3, '2011Q1', '2016Q1', ['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1']]
Done checking 42 out of 76 datasets.
Index(['<?xml version="1.0" encoding="UTF-8"?>'], dtype='object')
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')
['World Economic Outlook', 72, 191, 14, 21, '1980', '2022', ['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']]
Done checking 43 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2014'],
      dtype='object')
['WB: Financial Inclusion Index (Findex)', 509, 144, 2, 2, '2014', '2014', ['2014']]
Done checking 44 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2017'],
      dtype='object')
['Enabling the Business of Agriculture', 62, 62, 46, 54, '2017', '2017', ['2017']]
Done checking 45 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2013', '2014', '2015', '2016'],
      dtype='object')
['World Justice Project', 82, 113, 77, 77, '2013', '2016', ['2013', '2014', '2015', '2016']]
Done checking 46 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2015', '2016'],
      dtype='object')
['UNCTAD', 513, 137, 1, 2, '2015', '2016', ['2015', '2016']]
Done checking 47 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016'],
      dtype='object')
['Statistical Capacity', 87, 145, 29, 29, '2004', '2016', ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 48 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2006', '2008', '2010', '2012', '2015'],
      dtype='object')
['IBP Open Budget Index', 92, 102, 242, 242, '2006', '2015', ['2006', '2008', '2010', '2012', '2015']]
Done checking 49 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
      dtype='object')
['Failed States Index', 97, 177, 11, 11, '2006', '2014', ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']]
Done checking 50 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')
['World Development Indicators', 56, 217, 284, 284, '1960', '2016', ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 51 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1996', '1998', '2000', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')
['Worldwide Governance Indicators', 485, 205, 6, 6, '1996', '2015', ['1996', '1998', '2000', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
Done checking 52 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Product', '2014', '2015', '2016'],
      dtype='object')
['Services Trade Restrictiveness Index', 61, 44, 6, 6, '2014', '2016', ['2014', '2015', '2016']]
Done checking 53 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2010', '2012', '2014', '2016'],
      dtype='object')
['Women, Business and the Law', 84, 187, 132, 132, '2010', '2016', ['2010', '2012', '2014', '2016']]
Done checking 54 out of 76 datasets.

Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2006', '2008', '2010', '2012', '2014', '2016'],
      dtype='object')
['Bertelsmann Transformation Index', 67, 128, 3, 3, '2006', '2016', ['2006', '2008', '2010', '2012', '2014', '2016']]
Done checking 55 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'],
      dtype='object')
['Polity IV', 89, 78, 16, 16, '1987', '2015', ['1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
Done checking 56 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Product', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011'],
      dtype='object')
['World Input Output Database', 69, 39, 24, 24, '1995', '2011', ['1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011']]
Done checking 57 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Partner', '1950', '1951', '1952', '1953', '1954',
       ...
       '2016M02', '2016Q2', '2016M03', '2016Q3', '2016M04', '2016M05',
       '2016M06', '2016M07', '2016M08', '2016M09'],
      dtype='object', length=979)
['Direction of Trade', 74, 180, 3, 3, '1950', '2016Q3', ['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1960M01', '1960M02', '1960M03', '1960M04', '1960M05', '1960M06', '1960M07', '1960M08', '1960M09', '1960M10', '1960M11', '1960M12', '1960Q1', '1960Q2', '1960Q3', '1960Q4', '1961', '1961M01', '1961M02', '1961M03', '1961M04', '1961M05', '1961M06', '1961M07', '1961M08', '1961M09', '1961M10', '1961M11', '1961M12', '1961Q1', '1961Q2', '1961Q3', '1961Q4', '1962', '1962M01', '1962M02', '1962M03', '1962M04', '1962M05', '1962M06', '1962M07', '1962M08', '1962M09', '1962M10', '1962M11', '1962M12', '1962Q1', '1962Q2', '1962Q3', '1962Q4', '1963', '1963M01', '1963M02', '1963M03', '1963M04', '1963M05', '1963M06', '1963M07', '1963M08', '1963M09', '1963M10', '1963M11', '1963M12', '1963Q1', '1963Q2', '1963Q3', '1963Q4', '1964', '1964M01', '1964M02', '1964M03', '1964M04', '1964M05', '1964M06', '1964M07', '1964M08', '1964M09', '1964M10', '1964M11', '1964M12', '1964Q1', '1964Q2', '1964Q3', '1964Q4', '1965', '1965M01', '1965M02', '1965M03', '1965M04', '1965M05', '1965M06', '1965M07', '1965M08', '1965M09', '1965M10', '1965M11', '1965M12', '1965Q1', '1965Q2', '1965Q3', '1965Q4', '1966', '1966M01', '1966M02', '1966M03', '1966M04', '1966M05', '1966M06', '1966M07', '1966M08', '1966M09', '1966M10', '1966M11', '1966M12', '1966Q1', '1966Q2', '1966Q3', '1966Q4', '1967', '1967M01', '1967M02', '1967M03', '1967M04', '1967M05', '1967M06', '1967M07', '1967M08', '1967M09', '1967M10', '1967M11', '1967M12', '1967Q1', '1967Q2', '1967Q3', '1967Q4', '1968', '1968M01', '1968M02', '1968M03', '1968M04', '1968M05', '1968M06', '1968M07', '1968M08', '1968M09', '1968M10', '1968M11', '1968M12', '1968Q1', '1968Q2', '1968Q3', '1968Q4', '1969', '1969M01', '1969M02', '1969M03', '1969M04', '1969M05', '1969M06', '1969M07', '1969M08', '1969M09', '1969M10', '1969M11', '1969M12', '1969Q1', '1969Q2', '1969Q3', '1969Q4', '1970', '1970M01', '1970M02', '1970M03', '1970M04', '1970M05', '1970M06', '1970M07', '1970M08', '1970M09', '1970M10', '1970M11', '1970M12', '1970Q1', '1970Q2', '1970Q3', '1970Q4', '1971', '1971M01', '1971M02', '1971M03', '1971M04', '1971M05', '1971M06', '1971M07', '1971M08', '1971M09', '1971M10', '1971M11', '1971M12', '1971Q1', '1971Q2', '1971Q3', '1971Q4', '1972', '1972M01', '1972M02', '1972M03', '1972M04', '1972M05', '1972M06', '1972M07', '1972M08', '1972M09', '1972M10', '1972M11', '1972M12', '1972Q1', '1972Q2', '1972Q3', '1972Q4', '1973', '1973M01', '1973M02', '1973M03', '1973M04', '1973M05', '1973M06', '1973M07', '1973M08', '1973M09', '1973M10', '1973M11', '1973M12', '1973Q1', '1973Q2', '1973Q3', '1973Q4', '1974', '1974M01', '1974M02', '1974M03', '1974M04', '1974M05', '1974M06', '1974M07', '1974M08', '1974M09', '1974M10', '1974M11', '1974M12', '1974Q1', '1974Q2', '1974Q3', '1974Q4', '1975', '1975M01', '1975M02', '1975M03', '1975M04', '1975M05', '1975M06', '1975M07', '1975M08', '1975M09', '1975M10', '1975M11', '1975M12', '1975Q1', '1975Q2', '1975Q3', '1975Q4', '1976', '1976M01', '1976M02', '1976M03', '1976M04', '1976M05', '1976M06', '1976M07', '1976M08', '1976M09', '1976M10', '1976M11', '1976M12', '1976Q1', '1976Q2', '1976Q3', '1976Q4', '1977', '1977M01', '1977M02', '1977M03', '1977M04', '1977M05', '1977M06', '1977M07', '1977M08', '1977M09', '1977M10', '1977M11', '1977M12', '1977Q1', '1977Q2', '1977Q3', '1977Q4', '1978', '1978M01', '1978M02', '1978M03', '1978M04', '1978M05', '1978M06', '1978M07', '1978M08', '1978M09', '1978M10', '1978M11', '1978M12', '1978Q1', '1978Q2', '1978Q3', '1978Q4', '1979', '1979M01', '1979M02', '1979M03', '1979M04', '1979M05', '1979M06', '1979M07', '1979M08', '1979M09', '1979M10', '1979M11', '1979M12', '1979Q1', '1979Q2', '1979Q3', '1979Q4', '1980', '1980M01', '1980M02', '1980M03', '1980M04', '1980M05', '1980M06', '1980M07', '1980M08', '1980M09', '1980M10', '1980M11', '1980M12', '1980Q1', '1980Q2', '1980Q3', '1980Q4', '1981', '1981M01', '1981M02', '1981M03', '1981M04', '1981M05', '1981M06', '1981M07', '1981M08', '1981M09', '1981M10', '1981M11', '1981M12', '1981Q1', '1981Q2', '1981Q3', '1981Q4', '1982', '1982M01', '1982M02', '1982M03', '1982M04', '1982M05', '1982M06', '1982M07', '1982M08', '1982M09', '1982M10', '1982M11', '1982M12', '1982Q1', '1982Q2', '1982Q3', '1982Q4', '1983', '1983M01', '1983M02', '1983M03', '1983M04', '1983M05', '1983M06', '1983M07', '1983M08', '1983M09', '1983M10', '1983M11', '1983M12', '1983Q1', '1983Q2', '1983Q3', '1983Q4', '1984', '1984M01', '1984M02', '1984M03', '1984M04', '1984M05', '1984M06', '1984M07', '1984M08', '1984M09', '1984M10', '1984M11', '1984M12', '1984Q1', '1984Q2', '1984Q3', '1984Q4', '1985', '1985M01', '1985M02', '1985M03', '1985M04', '1985M05', '1985M06', '1985M07', '1985M08', '1985M09', '1985M10', '1985M11', '1985M12', '1985Q1', '1985Q2', '1985Q3', '1985Q4', '1986', '1986M01', '1986M02', '1986M03', '1986M04', '1986M05', '1986M06', '1986M07', '1986M08', '1986M09', '1986M10', '1986M11', '1986M12', '1986Q1', '1986Q2', '1986Q3', '1986Q4', '1987', '1987M01', '1987M02', '1987M03', '1987M04', '1987M05', '1987M06', '1987M07', '1987M08', '1987M09', '1987M10', '1987M11', '1987M12', '1987Q1', '1987Q2', '1987Q3', '1987Q4', '1988', '1988M01', '1988M02', '1988M03', '1988M04', '1988M05', '1988M06', '1988M07', '1988M08', '1988M09', '1988M10', '1988M11', '1988M12', '1988Q1', '1988Q2', '1988Q3', '1988Q4', '1989', '1989M01', '1989M02', '1989M03', '1989M04', '1989M05', '1989M06', '1989M07', '1989M08', '1989M09', '1989M10', '1989M11', '1989M12', '1989Q1', '1989Q2', '1989Q3', '1989Q4', '1990', '1990M01', '1990M02', '1990M03', '1990M04', '1990M05', '1990M06', '1990M07', '1990M08', '1990M09', '1990M10', '1990M11', '1990M12', '1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991', '1991M01', '1991M02', '1991M03', '1991M04', '1991M05', '1991M06', '1991M07', '1991M08', '1991M09', '1991M10', '1991M11', '1991M12', '1991Q1', '1991Q2', '1991Q3', '1991Q4', '1992', '1992M01', '1992M02', '1992M03', '1992M04', '1992M05', '1992M06', '1992M07', '1992M08', '1992M09', '1992M10', '1992M11', '1992M12', '1992Q1', '1992Q2', '1992Q3', '1992Q4', '1993', '1993M01', '1993M02', '1993M03', '1993M04', '1993M05', '1993M06', '1993M07', '1993M08', '1993M09', '1993M10', '1993M11', '1993M12', '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994', '1994M01', '1994M02', '1994M03', '1994M04', '1994M05', '1994M06', '1994M07', '1994M08', '1994M09', '1994M10', '1994M11', '1994M12', '1994Q1', '1994Q2', '1994Q3', '1994Q4', '1995', '1995M01', '1995M02', '1995M03', '1995M04', '1995M05', '1995M06', '1995M07', '1995M08', '1995M09', '1995M10', '1995M11', '1995M12', '1995Q1', '1995Q2', '1995Q3', '1995Q4', '1996', '1996M01', '1996M02', '1996M03', '1996M04', '1996M05', '1996M06', '1996M07', '1996M08', '1996M09', '1996M10', '1996M11', '1996M12', '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997', '1997M01', '1997M02', '1997M03', '1997M04', '1997M05', '1997M06', '1997M07', '1997M08', '1997M09', '1997M10', '1997M11', '1997M12', '1997Q1', '1997Q2', '1997Q3', '1997Q4', '1998', '1998M01', '1998M02', '1998M03', '1998M04', '1998M05', '1998M06', '1998M07', '1998M08', '1998M09', '1998M10', '1998M11', '1998M12', '1998Q1', '1998Q2', '1998Q3', '1998Q4', '1999', '1999M01', '1999M02', '1999M03', '1999M04', '1999M05', '1999M06', '1999M07', '1999M08', '1999M09', '1999M10', '1999M11', '1999M12', '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000', '2000M01', '2000M02', '2000M03', '2000M04', '2000M05', '2000M06', '2000M07', '2000M08', '2000M09', '2000M10', '2000M11', '2000M12', '2000Q1', '2000Q2', '2000Q3', '2000Q4', '2001', '2001M01', '2001M02', '2001M03', '2001M04', '2001M05', '2001M06', '2001M07', '2001M08', '2001M09', '2001M10', '2001M11', '2001M12', '2001Q1', '2001Q2', '2001Q3', '2001Q4', '2002', '2002M01', '2002M02', '2002M03', '2002M04', '2002M05', '2002M06', '2002M07', '2002M08', '2002M09', '2002M10', '2002M11', '2002M12', '2002Q1', '2002Q2', '2002Q3', '2002Q4', '2003', '2003M01', '2003M02', '2003M03', '2003M04', '2003M05', '2003M06', '2003M07', '2003M08', '2003M09', '2003M10', '2003M11', '2003M12', '2003Q1', '2003Q2', '2003Q3', '2003Q4', '2004', '2004M01', '2004M02', '2004M03', '2004M04', '2004M05', '2004M06', '2004M07', '2004M08', '2004M09', '2004M10', '2004M11', '2004M12', '2004Q1', '2004Q2', '2004Q3', '2004Q4', '2005', '2005M01', '2005M02', '2005M03', '2005M04', '2005M05', '2005M06', '2005M07', '2005M08', '2005M09', '2005M10', '2005M11', '2005M12', '2005Q1', '2005Q2', '2005Q3', '2005Q4', '2006', '2006M01', '2006M02', '2006M03', '2006M04', '2006M05', '2006M06', '2006M07', '2006M08', '2006M09', '2006M10', '2006M11', '2006M12', '2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007', '2007M01', '2007M02', '2007M03', '2007M04', '2007M05', '2007M06', '2007M07', '2007M08', '2007M09', '2007M10', '2007M11', '2007M12', '2007Q1', '2007Q2', '2007Q3', '2007Q4', '2008', '2008M01', '2008M02', '2008M03', '2008M04', '2008M05', '2008M06', '2008M07', '2008M08', '2008M09', '2008M10', '2008M11', '2008M12', '2008Q1', '2008Q2', '2008Q3', '2008Q4', '2009', '2009M01', '2009M02', '2009M03', '2009M04', '2009M05', '2009M06', '2009M07', '2009M08', '2009M09', '2009M10', '2009M11', '2009M12', '2009Q1', '2009Q2', '2009Q3', '2009Q4', '2010', '2010M01', '2010M02', '2010M03', '2010M04', '2010M05', '2010M06', '2010M07', '2010M08', '2010M09', '2010M10', '2010M11', '2010M12', '2010Q1', '2010Q2', '2010Q3', '2010Q4', '2011', '2011M01', '2011M02', '2011M03', '2011M04', '2011M05', '2011M06', '2011M07', '2011M08', '2011M09', '2011M10', '2011M11', '2011M12', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012', '2012M01', '2012M02', '2012M03', '2012M04', '2012M05', '2012M06', '2012M07', '2012M08', '2012M09', '2012M10', '2012M11', '2012M12', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013', '2013M01', '2013M02', '2013M03', '2013M04', '2013M05', '2013M06', '2013M07', '2013M08', '2013M09', '2013M10', '2013M11', '2013M12', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014', '2014M01', '2014M02', '2014M03', '2014M04', '2014M05', '2014M06', '2014M07', '2014M08', '2014M09', '2014M10', '2014M11', '2014M12', '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015', '2015M01', '2015M02', '2015M03', '2015M04', '2015M05', '2015M06', '2015M07', '2015M08', '2015M09', '2015M10', '2015M11', '2015M12', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016M01', '2016M02', '2016M03', '2016M04', '2016M05', '2016M06', '2016M07', '2016M08', '2016M09', '2016Q1', '2016Q2', '2016Q3']]
Done checking 58 out of 76 datasets.

Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024', '2025', '2026', '2027'],
      dtype='object')
['World Travel & Tourism Council', 79, 176, 12, 66, '1995', '2027', ['1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027']]
Done checking 59 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object')
['Global Competitiveness Index', 430, 148, 108, 108, '2006', '2015', ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
Done checking 60 out of 76 datasets.
Index(['<?xml version="1.0" encoding="UTF-8"?>'], dtype='object')
Index(['<?xml version="1.0" encoding="UTF-8"?>'], dtype='object')
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2010', '2011', '2015'],
      dtype='object')
['ITU Database', 508, 185, 3, 4, '2010', '2015', ['2010', '2011', '2015']]
Done checking 61 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2016'],
      dtype='object')
['World Economic Forum', 514, 138, 1, 2, '2016', '2016', ['2016']]
Done checking 62 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2013', '2014', '2015', '2016'],
      dtype='object')
['Heritage Index of Economic Freedom', 54, 185, 11, 13, '2013', '2016', ['2013', '2014', '2015', '2016']]
Done checking 63 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')
['Global Entrepreneurship Monitor Adult Population Survey', 59, 107, 20, 20, '2001', '2016', ['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 64 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2012', '2013', '2014', '2015', '2016'],
      dtype='object')
['WEF: Global Information Technology Report', 65, 150, 67, 134, '2012', '2016', ['2012', '2013', '2014', '2015', '2016']]
Done checking 65 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Product', '2011', '2012'],
      dtype='object')
['Entrepreneurship at a Glance', 70, 34, 3, 13, '2011', '2012', ['2011', '2012']]
Done checking 66 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       'Partner', '1995', '2000', '2005', '2008', '2009', '2010', '2011'],
      dtype='object')
['Trade in Value Added', 75, 60, 41, 41, '1995', '2011', ['1995', '2000', '2005', '2008', '2009', '2010', '2011']]
Done checking 67 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012'],
      dtype='object')
['Sustainable Energy For All', 81, 184, 1, 1, '1990', '2012', ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012']]
Done checking 68 out of 76 datasets.
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2013', '2014'],
      dtype='object')
['Corruption Perceptions Index', 85, 173, 1, 1, '2013', '2014', ['2013', '2014']]
Done checking 69 out of 76 datasets.
Index(['<?xml version="1.0" encoding="UTF-8"?>'], dtype='object')
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2014', '2015', '2016'],
      dtype='object')
['Sustainable Governance Indicators', 86, 41, 117, 117, '2014', '2016', ['2014', '2015', '2016']]
Done checking 70 out of 76 datasets.
Index(['<?xml version="1.0" encoding="UTF-8"?>'], dtype='object')
Index(['Country ISO3', 'Country Name', 'Indicator', 'Subindicator Type',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')
['Enterprise Surveys', 99, 146, 118, 118, '2002', '2016', ['2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']]
Done checking 71 out of 76 datasets.
Done with all 76 datasets with 71 successes and 0 failures.
Failed datasets include []

In [131]:
tc_data_check.head()

,title,id,number_of_unique_countries,number_of_unique_indicators,number_of_unique_subindicators,start_year,end_year,timeframe
0,PEFA,590,71,111,111,2005,2015,"[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201..."
1,Enterprise Surveys,49,147,121,121,2002,2016,"[2002, 2003, 2004, 2005, 2006, 2007, 2008, 200..."
2,Logistics Performance Index,50,167,7,20,2007,2016,"[2007, 2010, 2012, 2014, 2016]"
3,Worldwide Governance Indicators,51,205,6,30,1996,2015,"[1996, 1998, 2000, 2002, 2003, 2004, 2005, 200..."
4,World Economic Forum Global Competitiveness Index,53,151,120,240,2007-2008,2016-2017,"[2007-2008, 2008-2009, 2009-2010, 2010-2011, 2..."

# Merge against TC datasets

In [141]:
df_tc_data_check = df_tc_datasets[['slug', 'id', 'source','title']].merge(tc_data_check, how="outer", on=['id', 'title'])

## Confirming if errors are valid

In [143]:
df_tc_data_check[df_tc_data_check['number_of_unique_countries'].isnull()]

,slug,id,source,title,number_of_unique_countries,number_of_unique_indicators,number_of_unique_subindicators,start_year,end_year,timeframe
42,ArabBarAll,104,ArabBarometer,ArabBarometer,NaN,NaN,NaN,NaN,NaN,NaN
61,DAGI,101,"Development, Aid and Governance Indicators","Development, Aid and Governance Indicators",NaN,NaN,NaN,NaN,NaN,NaN
62,AfroBarAll,105,AfroBarometer,AfroBarometer,NaN,NaN,NaN,NaN,NaN,NaN
72,GCB,96,Transparency - Global Corruption Barometer,Global Corruption Barometer,NaN,NaN,NaN,NaN,NaN,NaN
74,LatinBar,90,Latinobarometro,Latinobarometro,NaN,NaN,NaN,NaN,NaN,NaN

## Cleaning dates for comparison

In [164]:
def clean_up_dates(x):
    cleaned_date = x
    m = re.match('(\d{4})-(\d{4})', str(x))
    if m:
        cleaned_date = m.groups()[-1]
    else:
        n = re.match('(\d{4})Q\d{1}', str(x))
        if n:
            cleaned_date = n.groups()[-1]
        else:
            o = re.match('(\d{4})M\d{2}', str(x))
            if o:
                cleaned_date = o.groups()[-1]
    return cleaned_date

In [170]:
df_tc_data_check['start_year-clean'] = df_tc_data_check['start_year'].apply(lambda x: clean_up_dates(x))
df_tc_data_check['end_year-clean'] = df_tc_data_check['end_year'].apply(lambda x: clean_up_dates(x))

In [171]:
df_tc_data_check.head()

,slug,id,source,title,number_of_unique_countries,number_of_unique_indicators,number_of_unique_subindicators,start_year,end_year,timeframe,start_year-clean,end_year-clean
0,PEFA,590,PEFA,PEFA,71,111,111,2005,2015,"[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...",2005,2015
1,enterprise_surveys,49,WBG - Enterprise Surveys,Enterprise Surveys,147,121,121,2002,2016,"[2002, 2003, 2004, 2005, 2006, 2007, 2008, 200...",2002,2016
2,logistics_performance_index,50,WBG - Logistics Performance Index,Logistics Performance Index,167,7,20,2007,2016,"[2007, 2010, 2012, 2014, 2016]",2007,2016
3,worldwide_governance_indicators,51,Worldwide Governance Indicators,Worldwide Governance Indicators,205,6,30,1996,2015,"[1996, 1998, 2000, 2002, 2003, 2004, 2005, 200...",1996,2015
4,global_competitiveness_index,53,World Economic Forum Global Competitiveness Index,World Economic Forum Global Competitiveness Index,151,120,240,2007-2008,2016-2017,"[2007-2008, 2008-2009, 2009-2010, 2010-2011, 2...",2008,2017

In [264]:
df_tc_data_check['id'] = df_tc_data_check['id'].astype(str)

In [265]:
df_merge = df_tc_data_check.merge(df_answer_key, how='outer', on=['id', 'slug', 'title'])

## Removing datasets which are/have:
- without data
- new datasets (with data yet to be ingested)
- duplicated (same slug as another's)

In [267]:
df_merge_shortlist = df_merge[['id', 'title', 'slug', 'Site', 'start_year-clean', 'end_year-clean', 'Start Year', 'Latest Year']].dropna(axis=0, how='any', subset=['id','start_year-clean','Start Year'])

In [269]:
df_merge_shortlist = df_merge_shortlist[(df_merge_shortlist['Start Year'] != 'N/A (duplicate dataset)') & (df_merge_shortlist['Start Year'] != 'N/A (too general)')]

In [270]:
df_merge_shortlist['start_year-check'] = df_merge_shortlist['start_year-clean'] <= df_merge_shortlist['Start Year']
df_merge_shortlist['end_year-check'] = df_merge_shortlist['end_year-clean'] >= df_merge_shortlist['Latest Year']

In [271]:
def amida_action(x):
    action = "Updated. No action required."
    
    end = x['end_year-check']
    start = x['start_year-check']
    
    if (not end) & (not start):
        action = "Not updated (both start and end dates)"
    elif end & (not start):
        action = "Not updated (start date only)"
    elif (not end) & (start):
        action = "Not updated (end date only)"
    
    if (x['Site'] == 'gv') & (action != "Updated. No action required."):
        action = "[Gov dataset - For Luis' action] "+ action
    
    return action

In [272]:
df_merge_shortlist

,id,title,slug,Site,start_year-clean,end_year-clean,Start Year,Latest Year,start_year-check,end_year-check
0,590,PEFA,PEFA,gv,2005,2015,2005,2016,True,False
2,50,Logistics Performance Index,logistics_performance_index,tc,2007,2016,2007,2016,True,True
5,147,Public Investment Management,PIM,gv,2010,2010,1987,2016,False,False
6,483,Human Resource Management,HRM,gv,2009,2009,1987,2016,False,False
7,512,UNCTAD Cyberlaw Tracker,UNCTAD Cyberlaw Tracker,tc,2016,2016,2016,2016,True,True
8,479,Pay and Employment,PAY_EMP,gv,1990,2008,1987,2016,False,False
9,44,I-TIP Goods,itip_goods,tc,1990,2016,2005,2016,True,True
10,44,I-TIP Goods,itip_goods,tc,1990,2016,2005,2016,True,True
12,46,OECD Innovation Indicators,innovation_indicators,tc,1919,2016,2013,2015,True,True
13,45,ESCAP,escap,tc,1995,2014,1995,2015,True,False
15,71,WEF GCI Most Problematic Factors,most_problematic_factors,tc,2008,2016,2007,2016,False,True
16,47,Investing Across Borders,investing_across_borders,tc,2012,2012,2010,2012,False,True
19,58,Global Entrepreneurship Monitor National Exper...,national_expert_survey,tc,2007,2016,2007,2016,True,True
20,77,Competitive Industrial Performance Index,competitive_industrial_performance,tc,1990,2014,1990,2015,True,False
21,78,Travel & Tourism Competitiveness Index,travel_tourism_competitiveness,tc,2015,2017,2015,2017,True,True
22,64,Temporary Trade Barriers Database,temporary_trade_barriers,tc,1990,2013,1980,2015,False,False
23,428,Global Integrity Index,Global_Integrity,gv,2004,2011,2004,2011,True,True
24,435,Doing Business,DB,both,2004,2016,2004,2016,True,True
25,511,Networked Readiness index,"Networked Readiness Index, World Economic Forum",tc,2015,2015,2001,2016,False,False
26,589,Ibrahim Index of African Governance,IIAG,gv,2000,2015,2000,2015,True,True
27,57,I-TIP Services,itip_services,tc,2016,2016,2009/2011/2014 (varies),2016,False,True
29,68,OECD Product Market Regulation Database,product_market_regulation,tc,1998,2013,1998,2013,True,True
30,88,Quality of Govt,QOG,gv,2012,2015,2008,2012,False,True
31,73,Measuring Export Competitiveness,measuring_export_competitiveness,tc,2006,2014,2006,2016,True,False
32,80,Environmental Performance Index,environmental_performance_index,tc,2014,2014,2006,2016,False,False
33,495,Inter-Parliamentary Union,IPU,gv,2016,2016,1997,2017,False,False
34,145,Public Accountability Mechanisms Income and Di...,PAM_IAD,gv,2008,2008,1987,2016,False,False
35,146,Public Accountability Mechanisms Freedom of In...,PAM,gv,2010,2010,1987,2016,False,False
36,429,Global Indicators of Regulatory Governance,Global_Indicators,gv,2016,2016,2015,2016,False,True
37,98,Fiscal Rules Dataset,FAD_FR,gv,1987,2014,1985,2015,False,False
38,102,Country Policy and Institutional Assessments,CPIA,both,2005,2016,2005,2016,True,True
39,505,Bertelsmann Transformation Index,BTI,both,2006,2016,2006,2016,True,True
40,510,UPU,UPU,tc,2005,2015,1980,2015,False,True
41,55,World Integrated Trade Solution,wits,tc,1988,2015,1988,2015,True,True
42,60,Timely Indicators of Entrepreneurship,timely_indicators_of_entrepreneurship,tc,2011,2016,2007,2017,False,False
44,72,World Economic Outlook,world_economic_outlook,tc,1980,2022,1980,2018 (projection),True,True
45,509,WB: Financial Inclusion Index (Findex),"Global Findex 2014, World Bank",tc,2014,2014,2011,2014,False,True
47,82,World Justice Project,WJP,gv,2013,2016,2012,2016,False,True
49,87,Statistical Capacity,SC,gv,2004,2016,2004,2016,True,True
50,92,IBP Open Budget Index,IBP,gv,2006,2015,2006,2017,True,False
51,97,Failed States Index,FSI,gv,2006,2014,2006,2017,True,False
52,56,World Development Indicators,world_development_indicators,tc,1960,2016,1960,2016,True,True
53,485,Worldwide Governance Indicators,WGI,both,1996,2015,1996,2015,True,True
54,61,Services Trade Restrictiveness Index,stri,tc,2014,2016,2014,2016,True,True
55,84,"Women, Business and the Law",WBL,both,2010,2016,2010,2016,True,True
57,89,Polity IV,PIV,gv,1987,2015,1800,2015,False,True
58,69,World Input Output Database,wiod,tc,1995,2011,1995,2014,True,False
59,74,Direction of Trade,direction_of_trade,tc,1950,2016,1948,2016,False,True
60,79,World Travel & Tourism Council,world_travel_tourism_council,tc,1995,2027,2006,2016,True,True
61,430,Global Competitiveness Index,GCI,both,2006,2015,2007,2016,True,False
64,508,ITU Database,ITU Database,tc,2010,2015,2000,2016,False,False
66,54,Heritage Index of Economic Freedom,heritage_index_of_economic_freedom,tc,2013,2016,2013,2016,True,True
67,59,Global Entrepreneurship Monitor Adult Populati...,adult_population_survey,tc,2001,2016,2001,2016,True,True
68,65,WEF: Global Information Technology Report,global_information_technology_report,tc,2012,2016,2001,2016,False,True
69,70,Entrepreneurship at a Glance,entrepreneurship_at_a_glance,tc,2011,2012,2010,2016,False,False
70,75,Trade in Value Added,tiva,tc,1995,2011,1995,2011,True,True
71,81,Sustainable Energy For All,sustainable_energy_for_all,tc,1990,2012,1990,2010,True,True
72,85,Corruption Perceptions Index,TI,gv,2013,2014,1995,2016,False,False
74,86,Sustainable Governance Indicators,SGI,gv,2014,2016,2005,2015,False,True
76,99,Enterprise Surveys,ES,both,2002,2016,2005,2014,True,True

In [273]:
df_merge_shortlist['amida_action'] = df_merge_shortlist.apply(lambda x: amida_action(x), axis=1)

In [274]:
df_merge_shortlist.head()

,id,title,slug,Site,start_year-clean,end_year-clean,Start Year,Latest Year,start_year-check,end_year-check,amida_action
0,590,PEFA,PEFA,gv,2005,2015,2005,2016,True,False,[Gov dataset - For Luis' action] Not updated (...
2,50,Logistics Performance Index,logistics_performance_index,tc,2007,2016,2007,2016,True,True,Updated. No action required.
5,147,Public Investment Management,PIM,gv,2010,2010,1987,2016,False,False,[Gov dataset - For Luis' action] Not updated (...
6,483,Human Resource Management,HRM,gv,2009,2009,1987,2016,False,False,[Gov dataset - For Luis' action] Not updated (...
7,512,UNCTAD Cyberlaw Tracker,UNCTAD Cyberlaw Tracker,tc,2016,2016,2016,2016,True,True,Updated. No action required.

In [275]:
df_merge_shortlist.columns = ['id', 'title', 'slug', 'Site', 'current-start_year', 'current-end_year',
       'ideal-start_year', 'ideal-end_year', 'start_year-check', 'end_year-check',
       'amida_action']

In [279]:
df_merge_shortlist.to_csv("%s-Check-TC-Data-Update.csv" % date_today, index=False)
df_merge.to_csv("%s-Check-TC-Data-Update-verboseprofile.csv" % date_today, index=False)